.section-intro {
   background: url('../images/intro-background-image.jpg');
   background-size: cover;
   background-position: center center;
   background-attachment: fixed;
   min-height: 750px;
   padding: 0px;
   margin: 0px;
 }
 .section-intro-overlay{
   background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75),  rgba(0, 0, 0, 0.5));
   position: absolute; 
   width: 100%;
   height: 100%; 
   margin: 0px;
   padding: 0px;
   /* top: 0;
   left: 0;
   right: 0;
   bottom: 0; */
 }
 
 .section-resume{
   background: url('../images/resume-image1-blur.jpg');
   background-attachment: fixed;
   background-size: cover;  
 }
 
 .section-resume-overlay{
   height: 100%;
   width: 100%;
   margin-top: 10px;
 }
 
 #resume-button{
   border: 2px solid #ffffff;
   background-color: transparent;
   margin-bottom: 30px;
 }
 
 #resume-button:hover{
   background-color: rgba(255, 255, 255, .4);
 }
 
 .section-about{
   background-color: rgba(246,248,250,255);
 }
 
 .section-experience{
   background-color:  rgb(235, 236, 238);
 }
 
 .section-projects{
   background-color: rgba(246,248,250,255);
   margin-bottom: 20px;
 }
 
 
 .section-footer{
   background-color: rgb(26, 30, 34);
 }
 
 .social-media{
   margin-top: 40px;
 }
 
 .footer-icon{
   margin: 2px;
   padding: 10px 15px;
   font-size: 25px;
   background-color: rgb(51,51,51);
   border-radius: 3px;
 }
 
 #github:hover{
   background-color: rgb(119, 119, 119);
 }
 #linkedin:hover{
   background-color: #2867B2;
 }
 #facebook:hover{
   background-color: #4267B2;
 }
 #instagram:hover{
   /* background-color: rgb(195,42,167); */
   background-color: #C13584;
 }
 #youtube:hover{
   background-color: #FF0000;
 }
 
 #facebook{
   padding: 10px 18px;
 }
 
 #youtube{
   padding: 10px 14px;
 }
 
 #submit-button{
   margin: auto;
 }
 #email-matter{
   margin: 40px 0px;
 }
 
 .technologies{
   margin-bottom: 20px !important;
   margin-top: 10px !important;
 }
 
 .project-demo-code{
   margin-top: 10px;
 }
 
 
 .project-image-div{
   margin-top: 50px;
 }
 
 .animation{
   animation-delay: .5s;
 }
 