{% extends 'base.html' %}
{% load static %}

{% block title %}
Amey Kasbe | Full Stack Web Developer
{% endblock title %}

{% block content %}

<!-- Section: Introduction -->
<section class="section section-intro">
  <div class="section-intro-overlay valign-wrapper">
    {% include 'partials/_navbar.html' %}
    <div class="container center grey-text  text-lighten-3">
      <div class="row">
        <div class="col s12">
          <h1 class="animate__animated animate__fadeInDown animation">HI, I'M AMEY</h1>
          <p class="animate__animated animate__fadeInUp animation">I make things for the web.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section: About Me -->
<section class="section section-about">
  <div class="container center">
    <div class="row">
      <div class="s12">
        <h3>About me</h3>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <img src="{% url 'static/images/amey.jpg' %}" class="circle" height="200px" width="200px">
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <p>
          Hi! My name is Amey Kasbe and I'm a web developer with experience of above two and a half years in
          developing Django based web applications. While I am a proficient full stack developer, my expertise
          is developing scalable, efficient and
          secure backend services. I'm an incoming graduate student at <a href="https://uic.edu/">
            University of Illinois at Chicago</a> (MS
          in <a href="https://cs.uic.edu/graduate/ms-program/">Computer Science</a>). I've mostly worked
          professionally with Django, Python and JavaScript but I've also worked on technologies like C# and
          ASP.NET.
        </p>
        <p>Besides programming, I enjoy clicking photos, visiting new places and supporting FC Barcelona.</p>
      </div>
    </div>
  </div>
</section>

<!-- Section: Experience -->
<section class="section section-experience">
  <div class="container center">
    <div class="row">
      <div class="col s12">
        <h3>Experience</h3>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6">
        <div class="card transparent z-depth-3">
          <div class="card-content">
            <img src="{% static '/static/images/augment-technologies.png' %}" class="responsive-img circle"
              width="150px" height="150px">
            <span class="card-title">Augment Technologies</span>
            <span class="time-range">May 2021 - Present</span>
            <ul class="fa-ul">
              <li class="left-align"><span class="fa-li"><i class="fas fa-angle-double-right"></i></span>
                Founded a software firm that specializes in assisting schools by providing digital
                solutions
                and
                products.
              </li>
              <li class="left-align"><span class="fa-li"><i class="fas fa-angle-double-right"></i></span>
                Conceptualized and developed a school management application "Athena" using
                Django, Python, JavaScript, and Materialize.
              </li>
              <li class="left-align"><span class="fa-li"><i class="fas fa-angle-double-right"></i></span>
                Strategically developed a business model and participate in all facets of business
                development.
              </li>
              <li class="left-align"><span class="fa-li"><i class="fas fa-angle-double-right"></i></span>
                Plan and oversee all organizational operations including recruitments, key policies, and
                objectives to maximize
                the team’s productivity and return on investment.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card transparent z-depth-3">
          <div class="card-content">
            <img src="{% static '/static/images/wipro.png' %}" class="responsive-img circle" width="150px"
              height="150px">
            <span class="card-title">Wipro Limited</span>
            <span class="time-range">August 2018 - May 2020</span>
            <ul class="fa-ul">
              <li class="left-align"><span class="fa-li"><i class="fas fa-angle-double-right"></i></span>
                Designed and developed log reporting application from the onset to significantly
                reduce the expenditure on the legacy software. Used technologies like Django, Python,
                JavaScript, Bootstrap.
              </li>
              <li class="left-align"><span class="fa-li"><i class="fas fa-angle-double-right"></i></span>
                Worked on legacy log reporting application on Splunk to analyze and visualize the Big
                Data
                according to the
                business needs using SPL queries and advanced XML on Splunk..
              </li>
              <li class="left-align"><span class="fa-li"><i class="fas fa-angle-double-right"></i></span>
                Gained exposure in all phases of the System Development Life Cycle (SDLC) – Agile.
              </li>
              <br>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section: Projects -->
<section class="section section-projects">
  <div class="container center">
    <div class="row">
      <div class="col s12">
        <h3>Things I have developed</h3>
      </div>
    </div>
    <!-- Live Version | Code Hidden -->
    <div class="card transparent">
      <div class="card-content">
        <div class="row">
          <div class="col s12 m4 project-image-div">
            <img src="{% static '/static/images/athena.png' %}" class="responsive-img left materialboxed">
          </div>
          <div class="col s12 m6 offset-m1 left-align">
            <h3>Athena</h3>
            <p>Athena is a web application, which helps with parent-teacher communication and school administration.
              This product, accessible from any device, assists teachers in their day-to-day activities like marking
              attendance, sharing students' homeworks, remarks, and results with parents.
            </p>
            <p class="technologies">Technologies used: Django · Python · PWA · Django-Tenants · Materialize CSS · Ajax
              and more!
            </p>

            <div class="row">
              <div class="col s12 m6">
                <a href="http://trial.schoolathena.com/"
                  class="btn waves-effect waves-light blue-grey project-demo-code" target="_blank">Live
                  Version<i class="far fa-eye right"></i></a>
              </div>
              <div class="col s12 m6">
                <a class="btn waves-effect waves-light blue-grey project-demo-code" target="_blank">Code
                  Hidden<i class="fas fa-lock right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Demo Version | Code Visible -->
    <div class="card transparent">
      <div class="card-content">
        <div class="row">
          <div class="col s12 m4 project-image-div-2">
            <img src="{% static '/static/images/point-profile.png' %}" class="responsive-img left materialboxed">
          </div>
          <div class="col s12 m6 offset-m1 left-align">
            <h3>Point Profile</h3>
            <p>A web application to analyze GitHub profiles and repository statistics with Data Visualization.</p>
            <p class="technologies">Technologies used: Django · Python · Chart.js · GitHub REST API · Materialize CSS
              and more!.
            </p>
            <div class="row">
              <div class="col s12 m6">
                <a href="https://ameykasbe.pythonanywhere.com/"
                  class="btn waves-effect waves-light blue-grey project-demo-code" target="_blank">Demo
                  Version<i class="far fa-eye right"></i></a>
              </div>
              <div class="col s12 m6">
                <a href="https://github.com/ameykasbe/point-profile"
                  class="btn waves-effect waves-light blue-grey project-demo-code" target="_blank">Code<i
                    class="fab fa-github right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Demo Version | Code Visible -->
    <div class="card transparent">
      <div class="card-content">
        <div class="row">
          <div class="col s12 m4 project-image-div-2">
            <img src="{% static '/static/images/fact-football.png' %}" class="responsive-img left materialboxed">
          </div>
          <div class="col s12 m6 offset-m1 left-align">
            <h3>Fact Football</h3>
            <p>A REST API developed using Django Rest Framework to share football facts. Get a random fact, list all
              facts, update or delete a fact with the support of GET, POST and DELETE HTTP methods which can be
              performed on the provided endpoints.</p>
            <p class="technologies">Technologies used: Django · Django REST Framework · Python and more!.
            </p>
            <div class="row">
              <div class="col s12 m6">
                <a href="https://ameykasbe1.pythonanywhere.com/"
                  class="btn waves-effect waves-light blue-grey project-demo-code" target="_blank">Demo
                  Version<i class="far fa-eye right"></i></a>
              </div>
              <div class="col s12 m6">
                <a href="https://github.com/ameykasbe/fact-football"
                  class="btn waves-effect waves-light blue-grey project-demo-code" target="_blank">Code<i
                    class="fab fa-github right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Demo Version | Code Visible -->
    <div class="card transparent">
      <div class="card-content">
        <div class="row">
          <div class="col s12 m4 project-image-div">
            <img src="{% static '/static/images/credit-card-fraud-detection.jpg' %}"
              class="responsive-img left materialboxed">
          </div>
          <div class="col s12 m6 offset-m1 left-align">
            <h4>Credit Card Fraud Detection on Imbalanced Detection</h4>
            <p>Examined data preprocessing techniques and performance of six different predictive models in Python to
              credit card fraud detection problem on an imbalanced dataset. Algorithms implemented - Logistic
              Regression, K
              Nearest Neighbours, Support Vector Classification, Naïve Bayes Classifier, Decision Tree Classifier, and
              Random Forest Classifier.</p>
            <p class="technologies">Technologies used: Machine Learning · Python · Scikit-Learn · Numpy · Pandas ·
              Matplotlib · Seaborn and
              more!.
            </p>
            <div class="row">
              <div class="col s12 m6">
                <a href="https://colab.research.google.com/github/ameykasbe/credit-card-fraud-detection-on-imbalanced-dataset/blob/master/Credit%20Card%20Fraud%20Detection%20on%20Imbalanced%20Dataset.ipynb"
                  class="btn waves-effect waves-light blue-grey project-demo-code" target="_blank">Demo
                  Version<i class="far fa-eye right"></i></a>
              </div>
              <div class="col s12 m6">
                <a href="https://github.com/ameykasbe/credit-card-fraud-detection-on-imbalanced-dataset"
                  class="btn waves-effect waves-light blue-grey project-demo-code" target="_blank">Code<i
                    class="fab fa-github right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Demo Version | Code Visible -->
    <div class="card transparent">
      <div class="card-content">
        <div class="row">
          <div class="col s12 m4">
            <img src="{% static '/static/images/portfolio.png' %}" class="responsive-img left materialboxed">
          </div>
          <div class="col s12 m6 offset-m1 left-align">
            <h3>Portfolio</h3>
            <p>My personal website.</p>
            <p class="technologies">Technologies used: Python · Materialize CSS · Cactus and more!.
            </p>
            <div class="row">
              <div class="col s12 m6">
                <a href="https://ameykasbe.com/" class="btn waves-effect waves-light blue-grey project-demo-code"
                  target="_blank">Demo
                  Version<i class="far fa-eye right"></i></a>
              </div>
              <div class="col s12 m6">
                <a href="https://github.com/ameykasbe/portfolio"
                  class="btn waves-effect waves-light blue-grey project-demo-code" target="_blank">Code<i
                    class="fab fa-github right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>


<!-- Section: Resume -->
<section class="section section-resume">
  <div class="section-resume-overlay">
    <div class="container center">
      <div class="row">
        <div class="col s12">
          <h3 class="white-text">Resume</h3>
          <a href="{% static '/static/documents/Curriculum Vitae.pdf' %}" class="btn btn-large waves-effect waves-light"
            id="resume-button" target="_blank">Check
            out my
            Resume</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section: Contact -->
<section class="section section-contact">
  <div class="container center">
    <div class="row">
      <div class="col s12">
        <h3>Get in touch with me</h3>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6 offset-m1">
        <div class="card z-depth-3">
          <div class="card-content left-align">
            <form method="POST">
              {% csrf_token %}
              <label for="name">Name</label>
              <div class="input-field">
                <input type="text" name="name" id="name" placeholder="Name" required>
              </div>
              <label for="email" data-error="Invalid" data-success="Valid">Email</label>
              <div class="input-field">
                <input type="email" name="name" id="name" placeholder="Email" class="validate" required>
              </div>
              <label for="message">Message</label>
              <div class="input-field">
                <textarea name="message" id="message" cols="30" rows="10" class="materialize-textarea"
                  placeholder="Your Message" required></textarea>
              </div>
              <div class="center">
                <button type="submit" class="btn waves-effect waves-light blue-grey" id="submit-button">Send
                  Message</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m4 offset-m1">
          <div class="card z-depth-3">
            <div class="card-content">
              <i class="fas fa-paper-plane black-text fa-4x"></i>
              <p id="email-matter">If you have any project idea, job opportunity or if you want to
                connect with me feel free
                to drop an email.</p>
              <a href="mailto:amey.kasbe@gmail.com" target="_blank" class="btn waves-effect waves-light blue-grey">Shoot
                an email!</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section: Footer -->
<section class="section page-footer section-footer">
  <div class="container center">
    <div class="row social-media">
      <div class="col s12">
        <a href="https://github.com/ameykasbe" target="_blank"><span id="github" class="waves-effect footer-icon"><i
              class="fab fa-github grey-text text-lighten-2"></i></span></a>
        <a href="https://www.linkedin.com/in/amey-kasbe-3a578810b/" target="_blank"><span id="linkedin"
            class="waves-effect footer-icon"><i class="fab fa-linkedin-in grey-text text-lighten-2"></i></span></a>
        <a href="https://www.instagram.com/ameykasbe/" target="_blank"><span id="instagram"
            class="waves-effect footer-icon"><i class="fab fa-instagram grey-text text-lighten-2"></i></span></a>
        <a href="https://www.facebook.com/amey.kasbe/" target="_blank"><span id="facebook"
            class="waves-effect footer-icon"><i class="fab fa-facebook-f grey-text text-lighten-2"></i></span></a>
        <a href="https://youtu.be/dQw4w9WgXcQ" target="_blank"><span id="youtube" class="waves-effect footer-icon"><i
              class="fab fa-youtube grey-text text-lighten-2"></i></span></a>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <p class="grey-text text-lighten-2">&copy; Amey Kasbe 2021</p>
      </div>
    </div>
  </div>
</section>

{% endblock content %}